*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--roboto-font: "Roboto", serif;
--poppins:  "Poppins", serif;
--black:#000000;
  --white:#FFFFFF;
  --gainsboro:#DBDBDB;
  --darkgray:#B1B5BB;
  --cornflowerblue:#2D8DD5;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
body{
  background-color:var(--white);
}
.container{
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container{
      max-width: 1320px;
  }
}
.hero{
  background: url(../images/course-hero.webp) no-repeat center/cover;
}
.hero .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  min-height: 60vh;
  font-family: var(--roboto-font);
}
.hero .container h1{
  text-align: center;
  font-size: clamp(3.5rem,5vw,4rem);
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.hero .container p{
  text-align: center;
  font-size:1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--white);
}
.hero .container .search-filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 36rem;
  width: 100%;
  gap: 2rem;
  font-family:var(--roboto-font); 
}
.hero .container .search-filter input[type="text"]{
  width:100%;
  padding: .8rem 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: none;
}
header .container .search-filter input::placeholder{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.hero .container .search-filter input[type="submit"]{
  padding:  1.2rem 10rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family:var(--roboto-font);
  border-radius: 8px;
  border: none;
  background-color: var(--black);
  color: var(--white);
}
.courses{
  padding: 4rem 0;
}
.courses .container h2{
  text-align: center;
  font-family: var(--roboto-font);
  font-size: 4rem;
  font-weight: 700;
}
.courses .container .courses-list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(30rem,1fr));
  justify-content: center;
  gap: 4rem;
  max-width: 110rem;
  width: 100%;
  margin:3rem auto 0 auto;
  background-color: #2D8DD5;
}
.courses .container .course{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  color: var(--black);
}
.courses .container .course img{
  width: 100%;
}
.courses .container .course .details{
  align-self: start;
  margin: 1.3rem;
}
.courses .container .course .details h3{
  font-family: var(--roboto-font);
  font-size: 1.6rem;
  font-weight: 400;
}
.courses .container .course .details span{
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: 500;
}
.course-details{
  padding: 4rem 0;
}
.course-details .container h2{
  text-align: center;
  font-family: var(--roboto-font);
  font-size: 4rem;
  font-weight: 700;
}
.course-details .container .course-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 4rem;
  max-width: 110rem;
  width: 100%;
  margin:3rem auto 0 auto;
}
.course-details .container .course-list .course{
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: var(--black);
}
.course-details .container .course-list .course img{
  border-radius: 6px;
}
.course-details .container .course-list .course h3{
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: 500;
}
.course-details .container .course-list .course p{
  font-family: var(--roboto-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1rem;
}
.benefits{
  padding: 4rem 0;
}
.benefits .container h2{
  text-align: center;
  font-family: var(--roboto-font);
  font-size: 4rem;
  font-weight: 700;
}
.benefits .container .benefits-items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  max-width: 110rem;
  width: 100%;
  margin:3rem auto 0 auto;
}
.benefits .container .benefits-items .benefit{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34rem;
  padding: 1.2rem;
  color: var(--black);
}
.benefits .container .benefits-items .benefit .emoji-box{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.benefits .container .benefits-items .benefit h3{
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
}
.benefits .container .benefits-items .benefit p{
  font-family: var(--roboto-font);
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width:62em) {
  .course-details .container .course-list{
    grid-template-columns: 1fr ;
  }
} 
@media (max-width:48em) {
  .course-details .container .course-list .course{
    flex-direction: column;
    align-items: center;
  }
  .course-details .container .course-list .course .info{
    text-align: center;
  }
}