*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
  --roboto-font: "Roboto", serif;
  --poppins:  "Poppins", serif;
  --black:#000000;
  --white:#FFFFFF;
  --gainsboro:#DBDBDB;
  --cornflowerblue:#2D8DD5;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
body{
  background-color:var(--white);
}
.container{
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container{
      max-width: 1320px;
  }
}
.hero{
  background: url(../images/hero.webp) no-repeat center/cover;
}
.hero .container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  min-height: calc(100vh - 8rem);
  padding:0 3rem 4rem 3rem;
}
.hero .container h1{
  max-width: 53rem;
  width: 100%;
  font-family: var(--roboto-font);
  font-size: clamp(3rem,5vw,4.5rem);
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.hero .container .more-links{
  display: inline-flex;
  align-items: center;
  gap: 2.5rem;
}
.hero .container .more-links a{
  padding:1rem 2rem;
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  border-radius: 50px;
}
.banner{
  padding: 4rem 0;
}
.banner .container .image-box{
  max-width: 100rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 50px;
}
.banner .container img{
  width: 100%;
}
@media (max-width:48em) {
  .hero .container .more-links a{
    font-size: 1.5rem;
  }
}