*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
  --roboto-font: "Roboto", serif;
  --poppins:  "Poppins", serif;
  --black:#000000;
  --white:#FFFFFF;
  --gainsboro:#DBDBDB;
  --cornflowerblue:#2D8DD5;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
body{
  background-color:var(--white);
}
.container{
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container{
      max-width: 1320px;
  }
}
.hero{
  background: url(../images/hero.webp) no-repeat center/cover;
}
.hero .container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  min-height: calc(100vh - 8rem);
  padding:0 3rem 4rem 3rem;
}
.hero .container h1{
  max-width: 53rem;
  width: 100%;
  font-family: var(--roboto-font);
  font-size: clamp(3rem,5vw,4.5rem);
  font-weight: 500;
  line-height: 150%;
  color: var(--black);
}
.hero .container .more-links{
  display: inline-flex;
  align-items: center;
  gap: 2.5rem;
}
.hero .container .more-links a{
  padding:1rem 2rem;
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  border-radius: 50px;
}
.banner{
  padding: 4rem 0;
}
.banner .container .image-box{
  max-width: 100rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 50px;
}
.banner .container img{
  width: 100%;
}

.features{
  padding: 2rem 0 8rem 0;
}
.features .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
}
.features .container .feature{
  display:flex ;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
  background-color: var(--gainsboro);
  color: var(--black);
  font-family: var(--roboto-font);
  border-radius: 50px;
}
.features .container .feature img{
  width: 6.6rem;
}
.features .container .feature span{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
}
.features .container .feature p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
}
.our-learners{
  padding: 8rem 0;
  /* background-color: #2D8DD5; */
}
.our-learners .container h2{
  text-align: center;
  font-family: var(--poppins);
  font-size: 4.8rem;
  font-weight: 400;
}
.our-learners .container .our-partners{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
  padding: 0 2rem;
}
.our-learners .container .our-partners img{
  width:28rem;
}
@media (max-width:62em) {
  .features .container{
    grid-template-columns: 1fr 1fr ;
  }
} 
@media (max-width:48em) {
  .hero .container .more-links a{
    font-size: 1.5rem;
  }
  .features .container{
    grid-template-columns: 1fr ;
  }
}
