*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: "Poppins", serif;
    font-family: "Roboto", serif;
    */
}
:root{
  --black:#000000;
  --white:#FFFFFF;
  --gainsboro:#DBDBDB;
  --cornflowerblue:#2D8DD5;
}
html{
  font-size: 62.5%;
}
img{
  max-width: 100%;
}
body{
  background-color:var(--white);
  scroll-behavior: smooth;
}