*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: "Poppins", serif;

    font-family: "Roboto", serif;
    */
}
:root{
--black:#000000;
--white:#FFFFFF;
--gainsboro:#DBDBDB;
--cornflowerblue:#2D8DD5;
--whitesmoke:#f7f2f2;
}
html{
font-size: 62.5%;
scroll-behavior: smooth;
}
img{
max-width: 100%;
}
body{
background-color:var(--white);
}
.container{
    padding: 0 2rem;
    margin: auto;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 0;
    border: 1px solid var(--black);
    background-color: var(--white);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo{
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
}
header .container .logo a{
    font-family: "Roboto", serif; 
    font-size: clamp(1.8rem,2.5vw,2.8rem);
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}
header .container nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
header .container nav ul a{
    display: inline-block;
    font-family: "Roboto", serif; 
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}
header .container nav ul li .search-box{
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: .8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
}
header .container nav ul li .search-box input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
header .container nav ul li .search-box input::placeholder{
    font-family: "Roboto", serif; 
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
header .container nav label{
    display: none;
}
header .container nav label img{
    width: 2.6rem;
}
header .container nav > .checked{
    display: none;
    background-color: #000000;
}
@media (max-width:62em) {
    header .container nav label {
        display: block;
    }
    header .container nav ul{
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 80px;
        right: -100%;
        width: 50%;
        padding: 1rem;
        background-color: var(--whitesmoke);
        border-radius: 8px;
        transition: all .4s ease;
    }
    header .container nav > .checked:checked ~ ul{
        right: 0;
    }
    header .container nav ul .menu-search-box{
        width: 100%;
    }
}